---
# Only the main Sass file needs front matter (the dashes are enough)
---

//                                                      __        __
//                                                      88        88
//                                                      88        88
//   88,dPPY 88      88 88,dPYba,  88,dPYba,  :aPPYYba, 88,dPYba  88  ,adPYba
//   88PPY'  88      88 88P'  `"8a 88P'  `"8a '     `Y8 88'   "8a 88 a8P____88
//   88      88      88 88      88 88      88 ,adPPPP88 88     d8 88 8PP88888J
//   88      "8a,  ,a88 88      88 88      88 88,   ,88 88,. ,a8" 88 "8b,  ,a
//   88       `"YbdP'88 88      88 88      88 `"8bbd"Y8,8Y"Ybb8"  88  `"Ybd8"'

//   California Style Sheets

// scss-lint:disable StringQuotes

// defaults
@import "jekyll/base";
@import "jekyll/layout";
@import "jekyll/syntax-highlighting";

// // global
@import "globals/mixins";
@import "globals/var";
@import "globals/reset";
@import "globals/grid";
@import "globals/typography";
@import "globals/global";

// components
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/cards";
@import "components/faq";
@import "components/header";
@import "components/keyframes";
@import "components/icons";
@import "components/inputs";
@import "components/input-group-vertical";
@import "components/input-validation";
@import "components/popover";
@import "components/spinners";
@import "components/wells";

// landing specific
@import "landing/landing";
@import "landing/hero";
@import "landing/footer";
@import "landing/modals";
@import "landing/coming-soon";
@import "landing/signup";

@import "articles/article";

@import "globals/responsive-utils";
