---
layout: default
---

<div class="grid-block shrink noscroll home">
  <section class="grid-block shrink vertical card">
    <div class="preview">
      <img class="img" src="{{ site.baseurl }}/images/icons/quickstart-guides.svg">
    </div>
    <div class="padding-sm">
      <h1 class="h1 padding-xxs">Quickstart Guides</h1>
      <ul class="list">
        {% assign posts = site.categories.quickstarts | sort: "step" %}
        {% for post in posts %}
          {% unless forloop.index > 5 %}
          <li class="list-item">
            <a class="grid-block justify-justified align-center link padding-xxs" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
              <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
            </a>
          </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="grid-block shrink vertical card">
    <div class="preview">
      <img class="img" src="{{ site.baseurl }}/images/icons/configuring-a-repository.svg">
    </div>
    <div class="padding-sm">
      <h1 class="h1 justify padding-xxs">Configuring a Repository</h1>
      <ul class="list">
        {% assign posts = site.categories.repositories | sort: "step" %}
        {% for post in posts %}
          {% unless forloop.index > 5 %}
            {% if post.categories.[0] == 'repositories' %}
          <li class="list-item">
            <a class="grid-block justify-justified align-center link padding-xxs" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
              <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
            </a>
          </li>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="grid-block shrink vertical card">
    <div class="preview">
      <img class="img" src="{{ site.baseurl }}/images/icons/integrations.svg">
    </div>
    <div class="padding-sm">
      <h1 class="h1 justify padding-xxs">Integrations</h1>
      <ul class="list">
        {% assign posts = site.categories.integrations | sort: "step" %}
        {% for post in posts %}
          {% unless forloop.index > 5 %}
          <li class="list-item">
            <a class="grid-block justify-justified align-center link padding-xxs" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
              <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
            </a>
          </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="grid-block shrink vertical card">
    <div class="preview">
      <img class="img" src="{{ site.baseurl }}/images/icons/configuring-a-database.svg">
    </div>
    <div class="padding-sm">
      <h1 class="h1 padding-xxs">Configuring a Database</h1>
      <ul class="list">
        {% assign posts = site.categories.databases | sort: "step" %}
        {% for post in posts %}
          {% unless forloop.index > 5 %}
          <li class="list-item">
            <a class="grid-block justify-justified align-center link padding-xxs" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
              <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
            </a>
          </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="grid-block shrink vertical card">
    <div class="preview">
      <img class="img" src="{{ site.baseurl }}/images/icons/testing.svg">
    </div>
    <div class="padding-sm">
      <h1 class="h1 padding-xxs">Testing</h1>
      <ul class="list">
        {% assign posts = site.categories.testing | sort: "step" %}
        {% for post in posts %}
          {% unless forloop.index > 5 %}
          <li class="list-item">
            <a class="grid-block justify-justified align-center link padding-xxs" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
              <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
            </a>
          </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="grid-block shrink vertical card">
    <div class="preview">
      <img class="img" src="{{ site.baseurl }}/images/icons/networking.svg">
    </div>
    <div class="padding-sm">
      <h1 class="h1 padding-xxs">Networking</h1>
      <ul class="list">
        {% assign posts = site.categories.networking | sort: "step" %}
        {% for post in posts %}
          {% unless forloop.index > 5 %}
          <li class="list-item">
            <a class="grid-block justify-justified align-center link padding-xxs" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
              <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
            </a>
          </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
