.footer-wrapper {
  background: linear-gradient($gray-lighterest, $white);
  border-top: 1px solid $gray-lighter;
  padding: 0 $md;
}

.footer {
  align-items: center;
  display: block;
  margin: 0;
  max-width: 880px;
  overflow: visible;
  padding-top: $md;
  position: relative;
  width: 100%;

  @include media(xxs) {
    padding-left: $md;
    padding-right: $md;
  }

  .well-anchor {

    @include media(lg) {
      min-width: initial;
    }

    .p {
      margin-bottom: $xxs;
      margin-right: 120px;

      @include media(xs) {
        margin-right: 0;
      }
    }
  }

  .link-wrapper {
    margin: 0 auto;
    max-width: 530px;
    padding: $xl $md $xl 0;

    @include media(md) {
      flex-flow: column wrap;
      justify-content: center;
      padding: $xl $md;
    }
  }

  .align-start {

    @include media(md) {
      align-items: center;
    }

    + .align-start {

      @include media(md) {
        margin-left: 0;
      }
    }
  }

  .link {
    color: $gray-light;
    font-size: 19px;
    line-height: 24px;
    margin: 15px 27px;
    text-decoration: none;

    &:hover,
    &:active {
      color: $gray;
    }
  }

  .hr {
    background: $gray-lightest;
    margin: 0 auto;
    width: 510px;
  }
}

// support aside
.aside-support {

  @include media(md) {
    flex-flow: column;
    padding: 0 15px 30px;
  }

  .support-text {

    @include media(md) {
      margin-bottom: 15px;
      margin-right: 0;
      text-align: center;
    }

    .br {
      display: none;

      @include media(md) {
        display: block;
      }
    }
  }

  .figure {
    @include media(md) {
      margin: 0 auto;
      max-width: 225px;
    }
  }
}
