.body {
  padding: 0 $md;

  @include media(sm) {
    padding: 0 $sm;
  }


  .main-card {
    background: $white;
    border: $input-border solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    box-shadow: 0 2px 9px rgba($black,.075);
    margin: 120px auto 60px;

    @include media(xs) {
      flex-direction: column;
    }
  }
}
