.section-cta {

  .p {
    margin-bottom: 0;

    &:first-of-type {
      font-weight: $weight-bold;
    }
  }

  .small {
    font-weight: $weight-light;
  }

  .well {
    color: $gray-dark;
    cursor: pointer;

    &:hover,
    &:active {
      border-color: $purple-light;
      box-shadow: inset 0 0 0 1px $purple-light;

      .icons-chevron-right {
        color: $purple-light;
        transform: translate3d(3px,0,0);
      }
    }
  }

  // links to quick starts
  .well-wrapper {

    @include media(md) {
      flex-direction: column;
    }

    .well {
      flex: 1 1 50%;
      padding: $md;
      text-align: center;

      @media (max-width: $screen-md) and (min-width: $screen-sm) {
        flex-direction: row;
        text-align: left;
      }

      // scss-lint:disable ColorVariable
      &:first-child .img {
        background: #fff3e7;
      }

      &:last-child .img {
        background: #dbf7fc;
      }
      // scss-lint:enable ColorVariable

      + .well {
        margin-left: $md;

        @include media(md) {
          margin-left: 0;
          margin-top: $md;
        }
      }

      .img {
        border-radius: $input-border-radius-lg;
        display: block;
        height: 120px;
        margin-bottom: $sm;
        padding: $xs $md;
        width: 150px;

        @media (max-width: $screen-md) and (min-width: $screen-sm) {
          margin-bottom: 0;
          margin-right: $sm;
        }
      }
    }

    .link {
      color: $purple-light;
      margin-top: $xxs;
      text-decoration: none;
    }
  }

  .well-alt {
    margin-top: $md;
    padding: $sm;

    .img {
      background: $gray-lightest;
      border-radius: $input-border-radius-lg;
      display: block;
      height: $lg;
      margin-right: $sm;
      padding: $xxs;
      width: $lg;
    }

    .icons-chevron-right {
      height: 15px;
      margin-right: 6px;
      width: 15px;
    }
  }
}
