<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement":
 [
 {
   "@type": "ListItem",
   "position": 1,
   "item":
   {
    "@id": "{{ site.url }}/",
    "name": "Runnable"
    }
  },
  {
   "@type": "ListItem",
   "position": 2,
   "item":
   {
    "@id": "{{ site.url }}/",
    "name": "Docker Guides"
    }
  },
{% if page.category %}
{% assign category = site.titles.[page.category] %}
  {
   "@type": "ListItem",
  "position": 3,
  "item":
   {
     "@id": "{{ site.url }}/{{ page.category }}/",
     "name": "{{ category }}"
   }
  },
  {
   "@type": "ListItem",
  "position": 4,
  "item":
   {
     "@id": "{{ site.url }}{{ page.url }}",
     "name": "{{ page.title }}"
   }
  }
{% else %}
  {
   "@type": "ListItem",
  "position": 3,
  "item":
   {
     "@id": "{{ site.url }}{{ page.url }}",
     "name": "{{ page.title }}"
   }
  }
{% endif %}
 ]
}
</script>
<nav class="grid-block align-center breadcrumbs">
  <a class="grid-block shrink align-center link" href="/"><svg class="icons icons-life-preserver"><use xlink:href="#icons-life-preserver"></svg></a> <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
  {% if page.category %}
  <a class="link" href="/{{ page.category }}/">{{ category }}</a> <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
  {% endif %}
  <a class="link link text-overflow" href="{{ page.url }}">{{ page.title }}</a>
</nav>
