<footer class="grid-block col footer justify-spaced">
  {% include signup.html %}
  {% include support.html %}
  <div class="grid-block link-wrapper">
    <div class="grid-block col align-start">
      <a href="/preview-environments/" class="btn btn-xs link weight-strong">Preview Environments</a>
      <a href="/end-to-end-testing/" class="btn btn-xs link weight-strong">End-to-End Testing</a>
      <a href="/deploy-to-production/" class="btn btn-xs link weight-strong">Deploy to Production</a>
      <a href="/docs/" class="btn btn-xs link weight-strong">Docs</a>
      <a href="/pricing/" class="btn btn-xs link weight-strong">Pricing</a>
      <a href="/how-it-works/" class="btn btn-xs link weight-strong">How It Works</a>
      <a href="/docker/" class="btn btn-xs link weight-strong">Docker Guides</a>
    </div>
    <div class="grid-block col align-start">
      <a href="/demo/" class="btn btn-xs link weight-strong">Request Demo</a>
      <a href="/use-cases/" class="btn btn-xs link weight-strong">Use Cases</a>
      <a href="/blog/" class="btn btn-xs link weight-strong">Blog</a>
      <a href="/about/" class="btn btn-xs link weight-strong">About</a>
      <a href="/legal/privacy-policy/" class="btn btn-xs link weight-strong">Privacy</a>
      <a href="/legal/terms-of-service/" class="btn btn-xs link weight-strong">Terms</a>
      <a href="/legal/acceptable-use-policy/" class="btn btn-xs link weight-strong">Acceptable Use</a>
    </div>
  </div>
</footer>
