<footer class="grid-block vertical footer justify-spaced">
  <a class="sign-up-box grid-block vertical well well-anchor" href="https://runnable.com">
    <img class="img" src="{{ site.baseurl }}/images/runnabear-navigation.png">
    <p class="p">
      <strong class="strong">By Runnable:</strong> The service that speeds up development by providing full-stack environments for every code branch.
      <div class="a strong">Visit Runnable
        <svg class="icons icons-chevron-right">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </div>
    </p>
  </a>
  <div class="grid-block vertical link-wrapper">
    <div class="grid-block vertical">
      <a href="{{ site.baseurl }}/about/" class="btn btn-xs link strong">About</a>
      <a href="{{ site.url }}/privacy/" class="btn btn-xs link strong">Privacy Policy</a>
    </div>
  </div>
</footer>
