<footer class="grid-block col footer justify-spaced">
  <div class="grid-block link-wrapper">
    <div class="grid-block col align-start">
      <a href="{{ site.url }}/for/" class="btn btn-xs link weight-strong">Product</a>
      <a href="{{ site.url }}/pricing/" class="btn btn-xs link weight-strong">Pricing</a>
      <a href="{{ site.url }}/how-it-works/" class="btn btn-xs link weight-strong">How It Works</a>
      <a href="https://support.runnable.com" class="btn btn-xs link weight-strong">Get Help</a>
      <a href="{{ site.url }}/docker/" class="btn btn-xs link weight-strong">Docker Guides</a>
      <a href="{{ site.url }}/demo/" class="btn btn-xs link weight-strong">Request Demo</a>
    </div>
    <div class="grid-block col align-start">
      <a href="{{ site.url }}/use-cases/" class="btn btn-xs link weight-strong">Use Cases</a>
      <a href="http://blog.runnable.com" class="btn btn-xs link weight-strong">Blog</a>
      <a href="{{ site.url }}/about/" class="btn btn-xs link weight-strong">About</a>
      <a href="{{ site.url }}/legal/privacy-policy/" class="btn btn-xs link weight-strong">Privacy</a>
      <a href="{{ site.url }}/legal/terms-of-service/" class="btn btn-xs link weight-strong">Terms</a>
      <a href="{{ site.url }}/legal/acceptable-use-policy/" class="btn btn-xs link weight-strong">Acceptable Use</a>
    </div>
  </div>
</footer>
