<header class="grid-block shrink header">
  <div class="grid-block grid-container justify-justified">
    <a href="/" class="grid-content shrink logo">
      <img class="img" src="{{ site.baseurl }}/images/runnable-logo-white.svg" height="45" width="163">
    </a>
    <nav class="grid-block shrink">
      <a class="grid-content btn btn-sm text-white weight-strong hidden-sm a" href="/about">How It Works</a>
      <a class="grid-content btn btn-sm text-white weight-strong hidden-sm a" href="/repositories">Get Started</a>
      <a class="grid-content btn btn-sm text-white weight-strong hidden-sm a" href="/testing">Testing</a>
    </nav>
  </div>
</header>
