<header class="grid-block shrink header">
  <div class="grid-block grid-container justify-justified">
    <a href="{{ site.baseurl }}/" class="grid-content shrink logo">
      <img class="img" src="{{ site.baseurl }}/images/slash-docker-logo.svg" height="45" width="163">
    </a>
    <a href="https://runnable.com" class="grid-block vertical align-center shrink logo">
      <small class="small text-white">Brought to you by</small>
      <img class="img" src="{{ site.baseurl }}/images/runnable-logo-white.svg" height="18" width="105">
    </a>
  </div>
</header>
