<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/index.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ site.baseurl }}/feed.xml">
  <script src="{{ site.baseurl }}/js/segment.js"></script>
  {% seo %}
</head>
