<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/index.css" type="text/css" media="screen" >
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="/js/jquery.navgoco.min.js"></script>
  <script type="text/javascript" src="/js/segment.js"></script>
  <script type="text/javascript" src="/js/lunr.min.js"></script>
  <script type="text/javascript" src="/js/lunr-feed.js"></script>
  {% seo %}
</head>
