<a class="grid-block well well-anchor" href="{{ site.baseurl }}{{ next_page.[0].url }}">
  <img class="grid-block shrink img" src="{{ site.baseurl }}/images/{{ next_page.[0].category }}.svg" height="108" width="108">
  <div class="grid-block vertical">
    <p class="p">
      <strong class="strong">Next: {{ next_page.[0].title }}</strong>
      <br>{{ next_page.[0].excerpt }}
    </p>
  </div>
  <svg class="icons icons-chevron-right hidden-xs">
    <use xlink:href="#icons-chevron-right">
  </svg>
</a>
