<section class="share align-center">
  <p class="p weight-strong">Did this article help you? Share it to inform others.</p>
  <div class="grid-block shrink align-center justify-center margin-top-md">
    <a class="share-icons" href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://runnable.com/docs{{ page.url }}" target="_blank">
      <img class="img" height="32" width="32" src="{{ site.baseurl }}/images/icons/icons-twitter.svg"></img>
    </a>
    <a class="share-icons" href="https://www.facebook.com/sharer/sharer.php?u=https://runnable.com/docs{{ page.url }}" target="_blank">
      <img class="img" height="32" width="32" src="{{ site.baseurl }}/images/icons/icons-facebook.svg"></img>
    </a>
    <a class="share-icons" href="https://www.linkedin.com/shareArticle?mini=true&url=https://runnable.com/docs{{ page.url }}" target="_blank">
      <img class="img" height="48" width="48" src="{{ site.baseurl }}/images/icons/icons-linkedin.svg"></img>
    </a>
  </div>
</section>
