<section class="section-share">
  <div class="grid-block shrink align-center justify-center">
    <a class="share-icons a" href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://runnable.com/docs{{ page.url }}" target="_blank">
      <img class="img" height="45" width="45" src="{{ site.baseurl }}/images/icons/icons-twitter.svg">
    </a>
    <a class="share-icons a" href="https://www.facebook.com/sharer/sharer.php?u=https://runnable.com/docs{{ page.url }}" target="_blank">
      <img class="img" height="45" width="45" src="{{ site.baseurl }}/images/icons/icons-facebook.svg">
    </a>
    <a class="share-icons a" href="https://www.linkedin.com/shareArticle?mini=true&url=https://runnable.com/docs{{ page.url }}" target="_blank">
      <img class="img" height="45" width="45" src="{{ site.baseurl }}/images/icons/icons-linkedin.svg">
    </a>
  </div>
</section>
