<nav class="grid-block vertical shrink sidebar">
  <input placeholder="Search…" type="search" id="search" class="grid-block shrink search">
  <ul class="grid-block vertical nav">
    {% for section in site.data.sidebar %}
    <li class="li"><a class="a strong" href="#">{{ site.data.titles.[section.category] }}</a>
      <ul class="ul">
        {% for subCategory in section.subcategories %}
        {% assign posts = site.categories.[subCategory.category] %}
        <li class="li"><a class="a" href="#">{{ site.data.titles.[subCategory.category] }}</a>
          <ul class="ul">
            {% for p in posts %}
            {% if page.url == p.url %}
            <li class="li active">
            {% else %}
            <li class="li">
            {% endif %}
              <a class="a" href="{{ site.baseurl }}{{ p.url }}">{{ p.shortTitle }}</a>
            {% endfor %}
          </ul>
        {% endfor %}
        {% assign posts = site.categories.[section.category] | sort: "step" %}
        {% for p in posts %}
        {% unless p.categories.size > 1 %}
        {% if page.url == p.url %}
        <li class="li active">
        {% else %}
        <li class="li">
        {% endif %}
          <a class="a" href="{{ site.baseurl }}{{ p.url }}">{{ p.shortTitle }}</a>
        {% endunless %}
      {% endfor %}
    </ul>
  {% endfor %}
  </ul>
</nav>

<script>
$(document).ready(() => {
  $('.nav').navgoco();
})
</script>
