.popover-search {
  border: 0;
  bottom: 0;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;

  &:not(.lunr-hidden) {
    background: #fff;
    max-height: 349px;
    transition: all .10s ease-in-out;
    visibility: visible;
    width: 100%;

    @include media(xs) {
      margin-top: 80px;
      max-width: 340px;
    }
  }

  .result {
    border-bottom: 1px solid $gray-lighter;
    transition: background .075s ease-in-out;

    &:hover {
      background: rgba($gray-lighterest, .5);
    }

    &:last-of-type {
      border-bottom: none;
    }

    .a {
      display: block;
      padding: $sm;
    }
  }

  .result-length {
    border-bottom: 1px solid $gray-lighter;
    font-size: 13px;
    padding: $sm;
  }

  .post-title {
    color: $gray-dark;
    font-size: 14px;
    font-weight: $weight-bold;
    line-height: 20px;
  }

  .post-date {
    font-size: 12px;
  }

  .post-excerpt {
    color: $gray-dark;
    font-size: 12px;
  }
}

.popover-search-wrapper {
  margin: 40px 0;
  max-width: 228px;
  opacity: 1;
  overflow-y: auto;
  position: absolute;
  transform: scale3d(1, 1, 1) translate3d(-50%, 0, 0);
  visibility: visible;
  box-shadow: 0 2px 9px rgba($black, 0.075);
}
