.popover-search {
  background: $white;
  border: 0;
  bottom: 0;
  height: auto;
  max-height: 349px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100%;

  &:not(.lunr-hidden) {
    visibility: visible;
  }

  .result {
    border-bottom: 1px solid $gray-lighter;
    transition: background .075s ease-in-out;

    &:hover {
      background: rgba($gray-lighterest, .6);
    }

    &:active {
      background: rgba($gray-lighterest, .9);
    }

    &:last-of-type {
      border-bottom: none;
    }

    .a {
      display: block;
      padding: $sm;
    }
  }

  .result-length {
    border-bottom: 1px solid $gray-lighter;
    font-size: 13px;
    padding: $sm;
  }

  .post-title {
    color: $gray-dark;
    font-size: 14px;
    font-weight: $weight-bold;
    line-height: 20px;
  }

  .post-excerpt {
    color: $gray-dark;
    font-size: 12px;
  }
}

.popover-search-wrapper {
  box-shadow: 0 2px 9px rgba($black, .075);
  max-width: 228px;
  opacity: 1;
  overflow-y: auto;
  position: absolute;
  top: 80px;
  transform: scale3d(1, 1, 1) translate3d(-50%, 0, 0);
  transition:  transform .1s ease-in-out;
  visibility: visible;

  @include media(xs) {
    max-width: 312px;
    max-height: 238px;
    top: 65px;
  }
}
