body {
  // scss-lint:disable ColorVariable
  background: linear-gradient($purple-light, #396fc6);
  // scss-lint:enable ColorVariable
  font-size: 16px;
  padding: 0 $md;

  @include media(sm) {
    padding: 0 $sm;
  }

  .main-card {
    background: $white;
    border: $input-border solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    box-shadow: 0 2px 9px rgba($black,.075);
    margin: 120px auto;

    @include media(xs) {
      flex-direction: column;
    }
  }
}

// utility
%clearfix,
.clearfix {

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

%padding-xxs,
.padding-xxs {
  padding: 9px;
}

%padding-xs,
.padding-xs {
  padding: 12px;
}

%padding-sm,
.padding-sm {
  padding: 15px;
}

%padding-md,
.padding-md {
  padding: 30px;
}

%padding-lg,
.padding-lg {
  padding: 45px;
}

%padding-xl,
.padding-xl {
  padding: 60px;
}

// if .disabled communicates to the user that an element is not available to them,
// .no-touching 'disables' an element and DOES NOT communicate
.no-touching,
%no-touching {
  // scss-lint:disable ImportantRule
  pointer-events: none !important;
}
