// responsive utils
.visible-xxxs,
.visible-xxs,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xl {
  display: none;
}

@include media(xxxs) {
  .visible-xxxs {
    display: inherit;
  }
}

@include media(xxs) {
  .visible-xxs {
    display: inherit;
  }
}

@include media(xs) {
  .visible-xs {
    display: inherit;
  }
}

@include media(sm) {
  .visible-sm {
    display: inherit;
  }
}

@include media(md) {
  .visible-md {
    display: inherit;
  }
}

@include media(lg) {
  .visible-lg {
    display: inherit;
  }
}

@include media(xl) {
  .visible-xl {
    display: inherit;
  }
}

.hidden-xxxs,
.hidden-xxs,
.hidden-xs,
.hidden-sm,
.hidden-md,
.hidden-lg,
.hidden-xl {
  display: inherit;
}

@include media(xxxs) {
  .hidden-xxxs {
    display: none;
  }
}

@include media(xxs) {
  .hidden-xxs {
    display: none;
  }
}

@include media(xs) {
  .hidden-xs {
    display: none;
  }
}

@include media(sm) {
  .hidden-sm {
    display: none;
  }
}

@include media(md) {
  .hidden-md {
    display: none;
  }
}

@include media(lg) {
  .hidden-lg {
    display: none;
  }
}

@include media(xl) {
  .hidden-xl {
    display: none;
  }
}
