.article {
  max-width: 880px;
  padding: $lg $md $md;
  width: 100%;

  @include media(xs) {
    padding-left: $lg;
    padding-right: $lg;
  }

  > *:last-child:not(.well) {
    margin: $xl 0 0;
  }

  img {
    display: block;
    height: auto;
    margin: $lg auto;
    max-height: 420px;
    max-width: 640px;
    width: auto;

    @include media($md) {
      max-width: 100%;
    }

    &.img-sm {
      max-width: 150px;
    }

    &.img-md {
      max-width: 300px;
    }

    &.img-lg {
      max-width: 520px;
      width: 100%;
    }
  }

  h1:first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3, {
    margin: $sm 0;
  }

  // vertical rhythm
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  figure {
    margin: $sm 0;
  }

  p + h2,
  p + h3 {
    margin-top: $md;
  }

  // headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $weight-bold;
  }

  // code
  pre {
    background-color: $gray-lightest;
    border-radius: $input-border-radius-lg;
    font-size: 15px;
    margin: $md 0;
    overflow-x: auto;
    padding: $sm;

    > code {
      background: transparent;
      color: inherit;
      padding-left: 0;
      padding-right: 0;
    }
  }

  code {
    background-color: $purple-light-faded;
    border: 0;
    border-radius: $input-border-radius;
    color: $purple-light;
    display: inline-block;
    line-height: 1.4;
    padding: 0 5px;

    &.orange {
      background: $orange-lightest;
      color: $orange-dark;
    }
  }

  p code {
    word-break: break-word;
  }

  // fancy code blocks
  .pre-header {
    background-color: $gray-lighter;
    border-radius: $input-border-radius $input-border-radius 0 0;
    color: $gray;
    padding: $xs $sm;

    + pre,
    + .highlighter-rouge > pre {
      border-radius: 0 0 $input-border-radius $input-border-radius;
      margin-top: 0;
    }

    .btn {
      font-weight: $weight-bold;

      &:hover {
        background: rgba($white,.5);
      }

      &:active,
      &.active {
        background: $white;
      }

      + .btn {
        margin-left: 6px;
      }
    }

    .monospace {
      @extend %text-overflow;
      display: block;
      flex: 1 1 auto;
      font-size: 11px;

      &:not(:only-child) {
        margin-left: 6px;
        text-align: right;
      }
    }
  }

  // tables
  table {
    display: block;
    font-size: 16px;
    margin: 60px 0;
    overflow: auto;
    text-align: left;
  }

  thead {
    border-bottom: 1px solid;
  }

  th,
  td {
    min-width: 150px;
  }

  th {
    padding: 9px;
    text-align: left;
    white-space: nowrap;
  }

  td {
    padding: 9px;
    vertical-align: top;

    > strong {
      white-space: nowrap;
    }
  }

  // lists
  ol,
  ul {
    padding-left: 30px;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: circle;
  }

  li {
    margin-bottom: $sm;
    max-width: 720px;
  }

  // blockquote
  blockquote {
    border-left: $input-border solid $gray-lighter;
    color: $gray;
    font-size: 16px;
    font-style: italic;
    margin: $md;
    padding: 0 $md;

    > pre {
      font-style: normal;

      &:last-child {
        margin-top: 0;
      }
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  // link
  a {
    text-decoration: underline;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  .share a {
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  hr {
    background: $gray-lighter;
    border: 0;
    height: 1px;
    margin-bottom: $lg;
    margin-top: $lg;

    @include media(xs) {
      margin-left: 30px;
      margin-right: 30px;
      max-width: calc(100% - 60px);
    }
  }

  .ul-monospace {
    flex-wrap: wrap;
    font-size: 14px;

    li {
      flex: 0 0 50%;
      margin-bottom: 3px;

      @include media(sm) {
        flex: 0 0 100%;
      }
    }
  }

  // utility
  .indent {
    margin-left: 30px;
  }
}
