.main {
  overflow-y: auto;

  @include media(xs) {
    height: calc(100vh - 250px);
  }
}

.home {
  flex-wrap: wrap;
  padding: $sm;
  padding-top: $xxl;

  @include media(xs) {
    justify-content: center;
    padding-top: $sm;
  }
}
