/**
 * Master/Detail Layout
 */

.header {
  height: 45px;

  .grid-container {
    padding: 0 15px;
    max-width: 994px;
  }

  nav {
    align-items: center;
  }
}

.home {
  padding-top: 75px;
}

.grid-block .master {
  flex: 0 0 25%;
}

.grid-block .detail {
  flex: 1 0 auto;
  max-width: 75%;
}

.main {
  padding-bottom: 0;
}

/*
 * Lunr.js Search & Results
 */

.lunr-hidden {
  display: none;
}

#results {
  padding: 50px;
}

.result {
  margin: 20px;
}

.search {
  font-size: 13px;
  height: 24px;
  line-height: 22px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 0 8px;
  resize: none;
  width: 100%;
  word-break: normal;
}

/*
 * Sidebar Navigation
 */
.nav {
  width: 100%;
}

.nav, .nav ul, .nav li {
  list-style: none;
}

.nav ul {
  padding: 0;
  margin: 0 0 0 18px;
}

.nav {
  margin: 0px;
}

.nav > li {
  margin: 4px 0;
}

.nav > li li {
  margin: 2px 0;
}

.nav a {
  color: #333;
  display: block;
  outline: none;
  text-decoration: none;
}

.nav li > a > span {
  float: right;
  font-size: 19px;
  font-weight: bolder;
}

.nav li > a:hover > span {
  color: #fff;
}

.nav li > a > span:after {
  content: '\25BC';
  font-size: 10px;
}
.nav li.open > a > span:after {
  content: '\25B2';
  font-size: 10px;
}

.nav a:hover {
  background-color: #f0f0f0;
}

.nav li.active > a {
  border-bottom: 1px solid $purple-light;
}

.nav > li.active > a  {
  background-color: $purple-light;
  color: $white;
}

.nav li a {
  font-size: 13px;
  line-height: 20px;
  padding: 5px 10px;
}

.nav > li > a {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  padding: 5px 10px;
}
