.card {
  background: $white;
  border: $input-border solid $gray-lighter;
  border-radius: $input-border-radius-lg;
  box-shadow: 0 2px 9px rgba($black,.075);
  flex: 0 0 calc(50% - #{$md});
  margin-bottom: $md;

  @include media(md) {
    flex: 1 1 auto;
  }

  &:nth-child(even) {
    margin-left: $md;

    @include media(md) {
      margin-left: 0;
    }
  }

  .h1 {
    font-size: 20px;
    font-weight: $weight-bold;
  }

  .p {
    font-size: 16px;
    font-weight: $weight-normal;
  }

  .preview {
    background: linear-gradient($white,$gray-lighterest);
    border-bottom: $input-border solid $gray-lightest;
    border-radius: $input-border-radius-lg $input-border-radius-lg 0 0;

    > .img {
      display: block;
      height: 160px;
      margin: 0 auto;
      width: 160px;
    }

    .runnabear {
      display: block;
      margin: 0 auto;
      padding-top: 30px;
      position: relative;
      width: 280px;
    }
  }

  .list-item {
    margin-top: 2px;
  }

  .link {
    border: 1px solid transparent;
    border-radius: $input-border-radius-lg;
    font-size: 16px;
    text-decoration: none;

    &:hover {
      background: $gray-lighterest;
      border-color: $gray-lighter;
    }

    &:active,
    &:focus {
      background: $white;
      border-color: $purple-light;
      color: $purple-light;
    }
  }

  .icons-chevron-right {
    float: right;
    height: 12px;
    margin-left: 10px;
    opacity: .3;
    width: 12px;
  }
}
