.card {
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius-lg;
  box-shadow: 0 2px 9px rgba($black,.075);
  margin: 0 auto;
  width: 450px;

  @include media(xs) {
    font-size: 17px;
    padding: 15px 15px 30px;
    width: 100%;
  }

  @include media(xxs) {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .h1 {
    font-size: 21px;
    font-weight: $weight-bold;
  }

  > .img {
    display: block;
    margin: -120px auto 0;

    @include media(xs) {
      margin-top: -105px;
      width: 150px;
    }
  }

  .list-item {
    margin-top: 2px;
  }

  .link {
    border: 1px solid transparent;
    border-radius: $input-border-radius-lg;
    text-decoration: none;

    &:hover {
      background: $gray-lighterest;
      border-color: $gray-lighter;
    }

    &:active,
    &:focus {
      background: $white;
      border-color: $purple-light;
      color: $purple-light;
    }
  }

  .icons-chevron-right {
    float: right;
    height: 18px;
    opacity: .3;
    width: 18px;
  }
}
