.card {
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius-lg;
  box-shadow: 0 2px 9px rgba($black,.075);
  margin: 0 auto;
  margin-bottom: 60px;
  width: 280px;

  @include media(xs) {
    font-size: 17px;
    padding: 7px 7px 15px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .h1 {
    font-size: 18px;
    font-weight: $weight-bold;
  }

  .preview {
    background-color: $gray-lighterest;
    padding: 30px;

    > .img {
      display: block;
      margin: 0 auto;
      height: 80px;
      width: 80px;
    }
  }
  .list-item {
    margin-top: 2px;
  }

  .link {
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: $input-border-radius-lg;
    text-decoration: none;

    &:hover {
      background: $gray-lighterest;
      border-color: $gray-lighter;
    }

    &:active,
    &:focus {
      background: $white;
      border-color: $purple-light;
      color: $purple-light;
    }
  }

  .icons-chevron-right {
    float: right;
    height: 12px;
    opacity: .3;
    width: 12px;
    margin-left: 10px;
  }
}
