.card {
  background: $white;
  border: $input-border solid $gray-lighter;
  border-radius: $input-border-radius-lg;
  box-shadow: 0 2px 9px rgba($black,.075);
  margin: $sm;
  width: 420px;

  .h1 {
    font-size: 18px;
    font-weight: $weight-bold;
  }

  .preview {
    background: linear-gradient($white,$gray-lighterest);
    border-bottom: $input-border solid $gray-lightest;
    border-radius: $input-border-radius-lg $input-border-radius-lg 0 0;

    > .img {
      display: block;
      margin: 0 auto;
      height: 160px;
      width: 160px;
    }
  }
  .list-item {
    margin-top: 2px;
  }

  .link {
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: $input-border-radius-lg;
    text-decoration: none;

    &:hover {
      background: $gray-lighterest;
      border-color: $gray-lighter;
    }

    &:active,
    &:focus {
      background: $white;
      border-color: $purple-light;
      color: $purple-light;
    }
  }

  .icons-chevron-right {
    float: right;
    height: 12px;
    opacity: .3;
    width: 12px;
    margin-left: 10px;
  }
}
