.popover-trigger {
  outline: 0;
  overflow: visible;
  position: relative;

  &.hover:hover,
  &.hover:active,
  &.click:focus {

    .popover {
      opacity: 1;
      transform: scale3d(1,1,1) translate3d(-50%,0,0);
      transition: all .15s ease-in-out;
      visibility: visible;
    }

    .right-align-sm .popover {
      @include media(sm) {
        transform: scale3d(1,1,1);
      }
    }
  }

  &.click .popover {
    pointer-events: auto;
  }

  &.has-links:hover,
  &.has-links:active {

    .popover-hover-wrapper,
    .popover {
      pointer-events: auto;
    }
  }

  .popover-hover-wrapper {
    cursor: default;
    padding-top: 48px;
    pointer-events: none;
    position: absolute;
    transform: translate3d(-50%,0,0);

    .popover {
      position: relative;
    }
  }

  .right-align-sm {
    @include media(sm) {
      transform: translate3d(-100%,0,0);

      .popover {
        left: auto;
        transform: scale3d(.2,.2, 1);
        transform-origin: 95% 0;
      }
    }

    .popover::before,
    .popover::after {
      @include media(sm) {
        left: auto;
        right: 15px;
      }

      @include media(xxs) {
        right: 30px;
      }
    }
  }
}

.popover {
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius;
  cursor: default;
  left: 50%;
  margin: 0 auto;
  opacity: 0;
  padding: 15px;
  pointer-events: none;
  position: absolute;
  transform: scale3d(.2,.2,1) translate3d(-50%,0,0);
  transition: all .15s ease-in-out;
  visibility: hidden;
  z-index: 100;

  &.bottom {
    box-shadow: 0 1px 3px rgba($black,.1);
    top: calc(100% + 12px);
    transform-origin: 0 0;

    &::after {
      border-bottom: 9px solid $white;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      top: -9px;
    }

    &::before {
      border-bottom: 10px solid $gray-lighter;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      top: -10px;
    }
  }

  &.top {
    bottom: calc(100% + 12px);
    box-shadow: 0 1px 3px rgba($black,.1);
    transform-origin: 0 100%;

    &::after {
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 9px solid $white;
      bottom: -9px;
    }

    &::before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $gray-lighter;
      bottom: -10px;
    }
  }

  &::after,
  &::before {
    content: '';
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0;
  }

  .list {
    padding: 0;
  }

  .divider {
    background: $gray-lighter;
    height: 1px;
    margin: 9px -15px;
  }
}
