.lunr-hidden {
  display: none;
}

// scss-lint:disable IdSelector
#results {
// scss-lint:enable IdSelector
  padding: 50px;
}

.result {
  margin: 36px 0;
  max-width: 580px;
}

.result-length {
  border-bottom: 1px solid $gray-lightest;
  font-size: 16px;
  font-weight: 600;
  margin-top: 27px;
  padding-bottom: 15px;
  width: 100%;
}

.search {
  background: $purple-lightest;
  border-color: transparent;
  border-radius: $input-xs;
  color: $purple;
  font-size: 16px;
  height: $input-sm;
  line-height: $input-line-height-xs;
  margin: 0 $lg;
  opacity: .5;
  padding: 0 $xs;

  // for some reason, these have to be separate selectors
  // scss-lint:disable VendorPrefix PseudoElement
  &::-webkit-input-placeholder {
    color: $purple;
  }

  &::-moz-placeholder {
    color: $purple;
  }

  &:-ms-input-placeholder {
    color: $purple;
  }

  &:-moz-placeholder {
    color: $purple;
  }
  // scss-lint:enable VendorPrefix PseudoElement


  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}
