.lunr-hidden {
  display: none;
}

// scss-lint:disable IdSelector
#results {
// scss-lint:enable IdSelector
  padding: 50px;
}

.result {
  margin: 36px 0;
  max-width: 580px;
}

.result-length {
  border-bottom: 1px solid $gray-lightest;
  font-size: 16px;
  font-weight: 600;
  margin-top: 27px;
  padding-bottom: 15px;
  width: 100%;
}

.search {
  background-color: $white;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.2 16.9'><path fill-opacity='.15' d='M7.3,8.9c-0.9,0-1.6-0.7-1.6-1.6c0-1.3-2-1.3-2,0c0.1,2,1.6,3.6,3.6,3.6C8.6,10.9,8.6,8.9,7.3,8.9L7.3,8.9z'/><path fill-opacity='.3' d='M15.9,15.2L12.7,12c1.1-1.3,1.8-2.9,1.8-4.8c0-4-3.3-7.3-7.3-7.3C3.3,0,0,3.3,0,7.3s3.3,7.3,7.3,7.3c1.5,0,2.8-0.4,4-1.2l3.3,3.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C16.3,16.2,16.3,15.6,15.9,15.2z M2,7.3C2,4.4,4.4,2,7.3,2c2.9,0,5.3,2.4,5.3,5.3s-2.4,5.3-5.3,5.3C4.4,12.5,2,10.2,2,7.3z'/></svg>");
  background-position: 9px center;
  background-repeat: no-repeat;
  background-size: 13px;
  border: $input-border solid $gray-lighter;
  border-radius: $input-xs;
  color: $gray;
  font-size: 13px;
  height: $input-xs;
  line-height: $input-line-height-xs;
  margin: 0 $sm;
  padding: 0 $xs 0 30px;
  transition: .12s linear background-color;

  // for some reason, these have to be separate selectors
  // scss-lint:disable VendorPrefix PseudoElement
  &::-webkit-input-placeholder {
    color: $gray;
  }

  &::-moz-placeholder {
    color: $purple;
  }

  &:-ms-input-placeholder {
    color: $purple;
  }

  &:-moz-placeholder {
    color: $purple;
  }
  // scss-lint:enable VendorPrefix PseudoElement

  &:hover,
  &:focus,
  &:active {
    border-color: $purple-light;
  }
}
