.share {
  border-top: 1px solid $gray-lighter;
  padding: $md $md $md 0;

  @include media(xs) {
    flex-direction: column;
    padding: $md 0;
  }

  .btn + .btn {
    margin-left: $xs;

    @include media(xs) {
      margin-left: 0;
      margin-top: $xxs;
    }
  }
}

.share a {
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.share-title {
  font-size: 24px;
  font-weight: 600;
}
