.section-share {
  border-top: 1px solid $gray-lighter;
  margin: 0 auto;
  padding: $md 0 0 0;
  text-align: center;

  @include media(xs) {
    flex-direction: column;
    padding: $md 0;
  }

  .share-icons {
    height: $lg;
    opacity: .75;
    transition: opacity .125s ease-in-out;
    width: $lg;

    &:hover {
      opacity: 1;
    }
    .img {
      margin: 0;
    }

    + .share-icons {
      margin-left: $md;
    }
  }
}
