.sidebar {
  background: $gray-lighterest;
  border-right: 1px solid $gray-lighter;
  font-size: 14px;
  padding: $lg $md;
  position: relative;
  width: 280px;

  @include media(sm) {
    padding-left: $sm;
    padding-right: $sm;
    width: 250px;
  }

  @include media(xs) {
    border-bottom: 1px solid $gray-lighter;
    border-right: 0;
    height: 410px;
    padding: $md;
    width: 100%;
  }

  .search {
    @include media(xs) {
      margin-left: $sm;
      margin-right: $sm;
    }
  }

  .ul {
    list-style: none;
    max-height: 30px;
    overflow: hidden;
    padding: 0;
    transition: max-height .2s ease-in-out;

    &:not(.active) .li:not(:first-child) {
      opacity: 0;
    }

    + .ul {
      margin-top: 6px;
    }

    .li {
      transition: opacity .2s ease-in-out;

      &:last-child:not(:only-child) {
        padding-bottom: 10px; // just enough to not cut off descenders
    }

      .a {
        color: $gray;
        cursor: pointer;
        min-height: 30px;

        &:hover {
          color: $gray-dark;
        }

        &:active,
        &.active {
          color: $purple-light;
          font-weight: $weight-bold;
        }
      }

      &:nth-child(2) {
        margin-top: 3px;
      }
    }
  }

  .img {
    height: 15px;
    margin-right: 6px;
    width: 15px;
  }
}
