.sidebar {
  background: $gray-lighterest;
  border-right: 1px solid $gray-lighter;
  color: $gray;
  padding: $lg $md;

  @include media(xs) {
    border-bottom: 1px solid $gray-lighter;
    border-right: 0;
    height: 272px;
    max-width: none;
    width: 100vw;
  }

  .nav {
    margin-top: $md;
    overflow: auto;

    @include media(xs) {
      width: 100vw;
    }

    .ul {
      list-style: none;
      margin-left: $sm;
      padding: 0;

      @include media(sm) {
        margin-left: 0;
      }
    }

    .li {

      // active state
      &.active {
        color: $purple-light;
        font-weight: $weight-bold;
      }
    }

    .a {
      display: block;
      font-size: 13px;
      height: 32px;
      margin-bottom: 2px;
      padding: 3px $xxs;

      @include media(xs) {
        padding: 6px $sm;
      }

      &:hover {
        color: $gray-dark;
      }

      &:active {
        color: $purple-light;
        font-weight: $weight-bold;
      }

      > span {
        float: right;
      }
    }

    // + & - symbols
    .a > span,
    .a > span::after {
      content: '+';
      font-weight: $weight-bold;
      text-align: center;
      width: $xs;
    }

    .open > a > span::after {
      content: '-';
    }
  }
}
