.well {
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius-lg;

  > .icons-chevron-right {
    flex: 0 0 auto;
    height: 30px;
    margin-left: 15px;
    opacity: .3;
    width: 18px;
  }
}

.well-anchor {
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 21px;
  padding: $md;
  transition: box-shadow ease-in-out .125s;

  @include media(sm) {
    margin-left: $md;
    margin-right: $md;
    max-width: none;
  }

  @include media(xs) {
    flex-direction: column;
    padding: $sm $md $md;
    text-align: center;
  }

  @include media(xxs) {
    font-size: 17px;
  }

  &:hover {
    box-shadow: 0 3px $sm rgba($black,.15);

    .a {
      text-decoration: underline;
    }
  }

  &:hover .icons,
  &:active .icons {
    color: $purple-light;
  }

  .img {
    margin-right: $sm;

    &.grid-block {
      @include media(xs) {
        height: auto;
        margin-bottom: 9px;
        margin-right: 0;
        max-width: 75px;
      }
    }
  }

  .p {
    line-height: 1.4;

    @include media(xs) {
      max-width: 450px;
    }
  }

  .a {
    color: $purple-light;
    font-size: 14px;
    white-space: nowrap;

    @include media(xxxs) {
      font-size: 12px;
    }

    .icons {
      height: 12px;
      margin-top: 1px;
      position: relative;
      top: 1px;
      width: 12px;
    }
  }
}
