.well {
  border: none;
  border-radius: $input-border-radius-lg;
  color: $gray;
  box-shadow: 0 2px 4px rgba($black,.1);

  > .icons-chevron-right {
    flex: 0 0 auto;
    height: 30px;
    margin-left: 15px;
    opacity: .3;
    width: 18px;
  }
}

.well-anchor {
  cursor: pointer;
  display: flex;
  font-size: 21px;
  padding: 30px;
  transition: 0.125s ease-in-out box-shadow;

  @include media(sm) {
    margin-left: 30px;
    margin-right: 30px;
    max-width: none;
  }

  @include media(xs) {
    flex-direction: column;
    padding: 15px 30px 30px;
    text-align: center;
  }

  @include media(xxs) {
    font-size: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0 3px 15px rgba($black,.15);

    .a {
      text-decoration: underline;
    }
  }

  &:hover .icons,
  &:active .icons {
    color: $purple-light;
  }

  .img {
    margin-right: 15px;

    &.grid-block {
      @include media(xs) {
        height: auto;
        margin-bottom: 9px;
        margin-right: 0;
        max-width: 75px;
      }
    }
  }

  .p {
    line-height: 1.4;
    margin-bottom: 0;

    @include media(xs) {
      max-width: 450px;
    }
  }

  .a {
    color: $purple-light;
    font-size: 14px;
    white-space: nowrap;

    @include media(xxxs) {
      font-size: 12px;
    }

    .icons {
      height: 12px;
      margin-top: 1px;
      position: relative;
      top: 1px;
      width: 12px;
    }
  }
}
