---
layout: default
---
<div class="grid-block grid-container vertical">
  {% include breadcrumbs.html %}
  <div class="categories">
    <section class="card padding-lg">
      <img class="img" src="/images/icons/{{ page.category }}.svg" height="100" width="100">
      <h1 class="h1 padding-xxs">{{ page.title }}</h1>
      <ul class="list">
        {% assign posts = site.categories.[page.category] %}
        {% for post in posts %}
          <li class="list-item">
            <a class="grid-block justify-justified align-center link padding-xxs" href="{{ post.url }}">{{ post.title }}
              <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
            </a>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
