<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include icons.html %}
    <!-- {% include header.html %} -->
    <main class="grid-block grid-container horizontal grid-2 main">
      <div class="master">
        {% include sidebar.html %}
      </div>
      <div class="grid-block vertical detail">
        <div id="results" class="grid-block vertical lunr-hidden"></div>
        <div id="content" class="grid-block lunr-active">
        {{ content }}
        </div>
      </div>
    </main>
  </body>
</html>
