---
layout: default
---
<!-- {% include breadcrumbs.html %} -->
<article class="article">
  <!-- {% if page.development %} -->
  <div class="grid-block well gray well-in-development">
    <img class="grid-block shrink icon" src="{{ site.baseurl }}/images/in-development.svg" width="45" height="45">
    <div class="grid-block vertical">
      <div class="weight-strong">In Development</div>
      <div class="weight-light">We’re hard at work on this feature. <br class="hidden-sm">You can expect it soon!</div>
    </div>
  </div>
  <!-- {% endif %} -->
  <h1>{{ page.title }}</h1>
  {{ content }}
  {% include share.html %}
</article>
