---
layout: default
---
<div class="grid-block grid-container vertical">
  {% include breadcrumbs.html %}
  <div class="grid-block noscroll vertical home">
    <section class="card">
      <div class="preview">
        <img class="img icon" src="{{ site.baseurl }}/images/icons/quickstarts.svg" height="100" width="100">
      </div>
      <div class="padding-sm">
        <h1 class="h1 padding-xxs">Quickstarts</h1>
        <ul class="list">
          {% assign posts = site.tags.quickstarts | sort "step" %}
          {% for post in posts %}
            <li class="list-item">
              <a class="grid-block justify-justified align-center link padding-xxs" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="card">
      <div class="preview">
        <img class="img icon" src="{{ site.baseurl }}/images/icons/{{ page.category }}.svg" height="100" width="100">
      </div>
      <div class="padding-sm">
        <h1 class="h1 padding-xxs">{{ page.title }}</h1>
        <ul class="list">
          {% assign posts = site.categories.[page.category] %}
          {% for post in posts %}
            {% unless post.tags contains "quickstarts" %}
            <li class="list-item">
              <a class="grid-block justify-justified align-center link padding-xxs" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
              </a>
            </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </section>
  </div>
</div>
